<div>
    <h3>Fecha y hora actual: @ViewBag.FechaHoraActual</h3>
    <br />
    <h3>Números aleatorios</h3>
    <p><strong>Entero</strong>: @ViewBag.AleatorioEntero</p>
    <p><strong>Flotante</strong>: @ViewBag.AleatorioFlotante</p>
</div>
