<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/simple.min.css">
    <title>Caso Práctico 3</title>
</head>

<body>
    <header>
        <h1>Caso Práctico 3</h1>
        <p>Dependency Injection</p>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p>Programación Avanzada en Web</p>
    </footer>
</body>

</html>